<div class="row gtr-200">
    <div class="col-4 col-12-medium">

        <!-- Sidebar -->
            <div id="sidebar">
                <section class="widget thumbnails">
                    <h3>Interesting stuff</h3>
                    <div class="grid">
                        <div class="row gtr-50">
                            <div class="col-6"><a href="#" class="image fit"><img src="images/elise.jpeg" alt="" /></a></div>
                            <div class="col-6"><a href="#" class="image fit"><img src="images/flute.jpeg" alt="" /></a></div>
                            <div class="col-6"><a href="#" class="image fit"><img src="images/bolero.jpeg" alt="" /></a></div>
                            <div class="col-6"><a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a></div>
                        </div>
                    </div>
                </section>
            </div>

    </div>
    <div class="col-8 col-12-medium imp-medium">

        <!-- Content -->
            <div id="content">
                <section class="last">
                    <h2><%= pageTitle %></h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis libero odio suscipit porro ad aperiam veritatis ab repellendus placeat in magnam quia incidunt, possimus omnis numquam quidem unde cupiditate minima.

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt suscipit quo ratione impedit at. Accusantium, illo repudiandae facere non est ipsum, quibusdam assumenda ratione, cupiditate magni iure quasi unde tempore?
                    </p>
                </section>
            </div>

    </div>
</div>