<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="col-7 col-12-medium">
                <h2><%= pageTitle %></h2>
                <p>Votre boutique préférée pour de la musique sans retenue.</p>
            </div>
            <div class="col-5 col-12-medium">
                <ul>
                    <li><a href="/catalogue" class="button large icon solid fa-arrow-circle-right">Nos disques</a></li>
                    <li><a href="/apropos" class="button alt large icon solid fa-question-circle">Présentation</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>