<div id="footer-wrapper">
    <footer id="footer" class="container">
        <h2>Nous contacter</h2>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                    <section class="widget links">
                        <h3>Laisser un message</h3>
                        <form action="/contact" method="post">
                            <input type="email" name="email" placeholder="email">
                            <textarea name="message" cols="40" rows="6" placeholder="Votre message"></textarea>
                            <input type="submit" value="Envoyer">
                        </form>
                    </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <!-- Links -->
                <section class="widget contact last">
                    <h3>Réseaux Sociaux</h3>
                    <ul>
                        <% socials.forEach(function(social){ %>
                            <li><a href="https://<%=social.url%>" class="icon brands <%=social.class%>">
                                <span class="label"><%=social.label%></span>
                            </a></li>
                        <% }) %>
                    </ul>
                </section>
            </div>
            <div class="col-3 col-6-medium col-12-small">
                <!-- Contact -->
                    <section class="widget contact last">
                        <h3>Adresse</h3>
                        <address>
                            <p>1234 Fictional Road<br />
                                Nashville, TN 00000<br />
                                (800) 555-0000</p>        
                        </address>
                    </section>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Marc Augier. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>

</div>