<div id="header-wrapper">
    <header id="header" class="container">

        <!-- Logo -->
            <div id="logo">
                <h1><a href="index.html">
                    <img src="images/logo.png" alt="Logo de la boite à musique">
                </a></h1>
                <span>La boite à musique</span>
            </div>

        <!-- Nav -->
        <%- include('../partials/menu') %>

    </header>
</div>
