<nav id="nav">
    <ul>
        <%
        routes.forEach( (route) => { %>
            <li<% if (current_route == route.url){%> class="current"<%}%>>
                <a href="<%=route.url%>"><%=route.label%></a>
            </li>
        <% }); %>
    </ul>
</nav>