<nav id="nav">
    <ul>
        <li class="current"><a href="/">Bienvenue</a></li>
        <li><a href="/catalogue">Le Catalogue</a></li>
        <li><a href="/apropos">À propos</a></li>
    </ul>
</nav>